body{
    background-color: #2392EC;
    text-align: center;
}
h1{
    color: #fff;
    font: 1em sans-serif;
    font-size: 60px;

}
form{
    background-color: #fff;
    width: 620px;
    
    margin: 30px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    font-size: 20px;
}
.form-control {
    text-align: left;
    margin-bottom: 25px;
    
}

.form-control.c1,.form-control.c2  {
    display: inline-block;
    margin-bottom: 25px;
    font-size: larger;
     
}
.form-control.c1{
    float: left;
}
 
.form-control input,.form-control textarea {
    padding: 10px;
    margin-top: 15px;
     
}
textarea {
    width: 95%;
    height: 60px;
}
input{
    margin-top: 15px;
}
.form-control input[type="radio"]
{
    
    accent-color: rgb(9, 9, 9);
}
button {
    background-color: #2392EC;
    color: #fff;
    border: 1px solid #2392EC ;
    font-size: 16px;
    display: block;
    width: 110px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer {
    position: fixed;
    width: 100%;
    color: white;
    text-align: center;
  }